@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --max-w-screen-xl: 1280px;

  /* <Set /> */
  --Set--height-mobile: 234px;
  --Set--height-desktop: 281px;
  --Set--width-mobile: 320px;
  --Set--width-desktop: 384px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 41, 59; /* slate-800 */
    --background-end-rgb: 2, 6, 23; /* slate-950 */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
