@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-color-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255; /* white */
  --max-w-screen-xl: 1280px;

  /* <Set /> */
  --Set--height-mobile: 234px;
  --Set--height-desktop: 281px;
  --Set--width-mobile: 320px;
  --Set--width-desktop: 384px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --default-font-color-rgb: 255, 255, 255;
    --background-rgb: 30, 41, 59; /* slate-800 */
  }
}

body {
  color: rgb(var(--default-font-color-rgb));
  background: rgb(var(--background-rgb));
}
